*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
header{
    width: 95%;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    margin-top: 10px;
}

header div{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    /* background-color: aqua; */
}
.left{
    width: 100px;
    height: 50px;
    color: red;
    display: flex;
    justify-content:flex-start;
    font-size: 30px;
    
}
header div h2{
    color: red;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

section{
    width: 95%;
    height: auto;
    margin-top: 10px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;

}
section div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin-left: 5px;
    
    
}
.spider{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin-left: 5px;  
}

.spider img{
    width: 50px;
    height: 50px;
    
    justify-content:flex-start;
    border-radius: 50%;
}
.spider div{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 5px;
}
section button{
    width: 40px;
    height: 30px;
    border-radius: 40%;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    align-items: center;
    margin-right: 15px;



}
section b button{
    color: red;
    border-color: red;
    font-size: 30px;
}

hr{
    width: 95%;
    margin-top: 10px;
    
}
footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:0px -3px 5px 1px #CFD4D8;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

footer nav {
    width: 100%;
    height: auto;
    background-color: #FEFEFE;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer nav button {
    border: none;
    font-size: 24px;
    background-color: transparent;
    color: #CFD4D8;
}
footer nav button:first-child {
    border-right: 2px solid #CFD4D8;
    padding-right: 10px;
}
footer nav button:last-child {
    border-left: 2px solid #CFD4D8;
    padding-left: 10px;
}

.play {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #F3585B;
    border-radius: 50%;
    margin-bottom: 50px;
    font-size: 26px;
    color: #F6F7F7;
    box-shadow:0px 3px 1px 1px #CFD4D8;
}

.tab{
    color: #F4555B;
}